h1{
    color: blue; background-color: blanchedalmond;
    width: 50%; height: 200px;
    border: 30px solid red;
    border-radius: 25px;
    margin: 50px;
    padding: 60px;
    text-align: justify;
    
}